{% extends 'main.html' %}
{% load static %}

{% block content %}

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');

        .title {
            font-family: 'Cinzel';
        }

        .text {
            font-family: 'Sorts Mill Goudy';
        }
    </style>

    <div class="mb-4 border-b border-gray-200 ">
        <ul class="flex flex-wrap justify-center -mb-px text-sm font-medium text-center">

            <li class="mr-2">
                <a href="{% url 'products' %}">
                    <button class="inline-block p-4 rounded-t-lg border-b-2 title text-xl">Toate </button>
                </a>
            </li>

            {% for category in categories %}

                <li class="mr-2">
                    <a href="{% url 'products' %}?category={{ category.name }}">
                        <button class="inline-block p-4 rounded-t-lg border-b-2 title text-xl">{{ category.name }}</button>
                    </a>
                </li>

            {% endfor %}
        </ul>
    </div>
    <div class="container mx-auto flex justify-center items-center flex-wrap gap-12 mb-24">
        {% for product in products %}

             <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md hover:scale-110 transition-all ease-in-out first-tr">
            <a href="#" class="w-full flex justify-center">
                <img class=" object-contain max-h-56 rounded-lg" style="width: auto;height: 150px;" src="{{ product.image.url }}" alt="image"/>
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 title">{{ product.name }}</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text">{{ product.price }}</p>
                <a href="#"
                   class="hover:scale-110 transition-all ease-in-out inline-flex items-center pr-3 py-2 text-sm font-medium text-center text-black">
                    Read more
                    <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>




{% endblock %}