{% extends 'main.html' %}
{% load static %}

{% block content %}

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');

        .title {
            font-family: 'Cinzel';
        }

        .text {
            font-family: 'Sorts Mill Goudy';
        }
    </style>

    <div>
        <form action="" method="get" class="flex justify-center items-center py-7">
            <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only ">Cauta</label>
            <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 " fill="none"
                         stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg>
                </div>
                <input type="search" id="search" name="category"
                       class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 "
                       placeholder="Search">
                <button type="submit"
                        class="text-white absolute right-2.5 bottom-2.5 bg-gray-400 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 ">
                    Search
                </button>
            </div>

        </form>
    </div>

    <div class="mb-4 border-b border-gray-200 ">
        <ul class="flex flex-wrap justify-center -mb-px text-sm font-medium text-center">

            <li class="mr-2">
                <a href="{% url 'products' %}">
                    <button class="inline-block p-4 rounded-t-lg border-b-2 title text-xl">Toate</button>
                </a>
            </li>

            {% for category in categories %}

                <li class="mr-2">
                    <a href="{% url 'products' %}?category={{ category.name }}">
                        <button class="inline-block p-4 rounded-t-lg border-b-2 title text-xl">{{ category.name }}</button>
                    </a>
                </li>

            {% endfor %}
        </ul>
    </div>
    <div class="flex justify-center items-center gap-12 flex-wrap">
        {% for product in products_p %}
            <a href="{% url 'product' product.id %}">
                <div class="col-span-1 max-w-sm bg-white border border-gray-200 rounded-lg shadow-md hover:scale-105 transition-all ease-in-out first-tr">
                    {% if product.image.url is not None %}
                        <a href="{% url 'product' product.id %}" class="w-full flex justify-center">
                            <img class=" object-contain max-h-56 rounded-lg m-6" style="width: 300px;height: 150px;"
                                 src="{{ product.image.url }}" alt="image"/>
                        </a>
                    {% else %}
                        <img src="{% static 'images/No-image-found.jpeg' %}" alt="" class="max-h-56">
                    {% endif %}
                    <div class="p-5">
                        <a href="{% url 'product' product.id %}">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">{{ product.name }}</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text">{{ product.price }}</p>
                        <a href="{% url 'product' product.id %}"
                           class="hover:scale-110 transition-all ease-in-out inline-flex items-center pr-3 py-2 text-sm font-medium text-center text-black">
                            Read more
                            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    {% if page == 'toate' %}
        <div class="flex justify-center items-center my-10">
            <div class="flex space-x-4">
                {% if products_p.has_previous %}
                    <a href="?page=1">Primul</a>
                    <a href="?page={{ products_p.previous_page_number }}">
                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                             clip-rule="evenodd">
                            <path d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z"/>
                        </svg>
                    </a>
                {% endif %}
            </div>
            <div class="mx-4">
                <span class="font-bold">{{ products_p.number }}</span> din {{ products_p.paginator.num_pages }}
            </div>
            <div class="flex space-x-4">
                {% if products_p.has_next %}
                    <a href="?page={{ products_p.next_page_number }}">
                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                             clip-rule="evenodd">
                            <path d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z"/>
                        </svg>
                    </a>

                    <a href="?page={{ products_p.paginator.num_pages }}">Final</a>
                {% endif %}
            </div>
        </div>
    {% endif %}


{% endblock %}